accelerate
bitstring==4.2.3
brevitas
clize==5.0.1
dataclasses-json==0.5.7
datasets
evaluate
# finn, once updated version is on pypi
gspread==3.6.0
importlib-resources==6.1.0
ipython==8.12.2
ml_dtypes>=0.5.1
numpy==1.24.1
onnx==1.17.0
onnxoptimizer==0.3.13
onnxruntime==1.18.1
onnxscript==0.5.0
onnxsim==0.4.36
pandas>=1.5.3
pre-commit==3.3.2
packaging>=25.0
protobuf==3.20.3
psutil==5.9.4
pyscaffold==4.4
pybind11
scikit-learn>=1.2.1
scipy==1.10.1
setupext-janitor>=1.1.2
sigtools==4.0.1
toposort==1.7.0
tqdm>=4.64.1
transformers==4.48.3
tree-sitter>=0.25.0
tree-sitter-systemverilog
typing_extensions>=4.10
vcdvcd==1.0.5
wget==3.2
