name: Brainsmith CI

on:
  push:
    branches: [ develop, dev/ci-actions ]
  pull_request:
    branches: [ develop, dev/ci-actions ]
  schedule:
    - cron: '0 0 * * 0'  # Sunday at 00:00 UTC

env:
  DOCKER_BUILDKIT: 1
  BSMITH_ROOT: ${{ github.workspace }}
  BSMITH_HOST_BUILD_DIR: ${{ github.workspace }}/build
  BSMITH_DOCKER_PREBUILT: "0"
  BSMITH_DOCKER_NO_CACHE: "1"
  BSMITH_SKIP_DEP_REPOS: "0"
  BSMITH_XILINX_VERSION: ${{ vars.BSMITH_XILINX_VERSION }}
  BSMITH_XILINX_PATH: ${{ vars.BSMITH_XILINX_PATH }}
  

jobs:
  docker-build:
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    runs-on: pre-release
    timeout-minutes: 30  # 30-minute timeout for PR builds
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Run Docker container
        run: |
          chmod +x run-docker.sh
          ./run-docker.sh exit

  pytest-fpgadataflow:
    if: github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'pull_request'
    # TODO: Remove PR check for weekly test
    runs-on: pre-release
    timeout-minutes: 120  # 2-hour timeout for weekly tests
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up environment
        run: |
          mkdir -p ${{ env.BSMITH_HOST_BUILD_DIR }}

      - name: Run Docker and tests
        run: |
          chmod +x run-docker.sh pytest
        env:
          BSMITH_DOCKER_EXTRA: " -e XILINXD_LICENSE_FILE=${{ secrets.XILINXD_LICENSE_FILE }} "

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: brainsmith/tests/
          retention-days: 7

      - name: Upload test logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-logs
          path: |
            brainsmith/tests/**/*.log
            ${{ env.BSMITH_HOST_BUILD_DIR }}/**/*.log
          retention-days: 7
          
  e2e-build:
    if: github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'pull_request'
    # TODO: Remove PR check for weekly test
    runs-on: pre-release
    timeout-minutes: 480 # 8-hour timeout for weekly tests
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up environment
        run: |
          mkdir -p ${{ env.BSMITH_HOST_BUILD_DIR }}

      - name: Run Docker and tests
        run: |
          chmod +x run-docker.sh e2e
        env:
          BSMITH_DOCKER_EXTRA: " -e XILINXD_LICENSE_FILE=${{ secrets.XILINXD_LICENSE_FILE }} "
